<section id="top" class="pb-5">
  <div class="row">
    <div class="col-12">
      <img src="{{ manifest('images/pencils.jpg') }}">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{heading}}</h1>
      </div>
    </div>
  </div>
</section>
