includes:
	- vendor/mglaman/phpstan-drupal/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
	excludes_analyse:
		- *Test.php
		- *TestBase.php
	level: 6
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	reportUnmatchedIgnoredErrors: false
	drupal:
		entityTypeStorageMapping:
			node: App\Storage\NodeStorage
			taxonomy_term: Drupal\taxonomy\TermStorage
			user: Drupal\user\UserStorage
			navigation: App\Storage\NavigationStorage
			team_member: App\Storage\TeamMemberStorage
	ignoreErrors:
		- '#Call to an undefined method Drupal\\Core\\Entity\\EntityInterface#'
		- '#Call to an undefined method Drupal\\Core\\Entity\\EntityStorageInterface#'
		- '#Cannot instantiate interface Drupal\\Core\\Field\\FieldItemListInterface#'
		- '#Call to an undefined method Drupal\\Core\\Field\\FieldItemListInterface#'
		- '#Call to an undefined method Drupal\\Core\\Form\\FormInterface#'
		- '#Access to an undefined property Drupal\\Core\\Field\\FieldItemListInterface#'
		- '#Access to an undefined property Drupal\\Core\\Field\\FieldItemInterface#'
		- '#Access to an undefined property Drupal\\Core\\TypedData\\TypedDataInterface#'
		- '#Drupal\\Core\\Entity\\Query\\QueryInterface::range\(\) expects null#'
