<section class="container-fluid layouts-text bg-primary text-white">
  <div class="container py-5">
    <div class="row">
      <div class="editor-sourced col-12">
        {{text|raw}}
      </div>
    </div>
  </div>
</section>
