<section class="container-fluid layouts-listings strict border border-top border-white">
  <div class="container py-2">
    <div class="row row-cols-1 row-cols-mdp-2 row-cols-lg-3 pb-5">
      {% for link in links %}
        <div class="col mt-5">
          <a href="{{link.getUrl()}}">
            <div class="card h-100 border-primary">
              <div class="card-body">
                <h5 class="mt-0 mb-2">{{link.getHeading()}}</h5>
                <small>
                  {{link.getSeo().meta_description}}
                </small>
              </div>
              <div class="card-footer bg-secondary border-top border-primary text-right text-white">
                {% if link.bundle == 'service' %}
                  <i class="fas fa-chevron-circle-right fa-lg"></i>
                {% endif %}
                {% if link.bundle == 'article' %}
                  <small>{{link.getCreatedDate('M Y')}}</small>
                  <i class="far fa-calendar-alt fa-lg pl-1"></i>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
