{% set previous = '' %}
<section class="container-fluid layouts-timeline border-top border-white">
  <div class="container py-2 mt-5">
    {% for event in events %}
      {% set date = event.getDate(grouping) %}
      {% if date != previous %}
        {% if not loop.first %}</div>{% endif %}
        <div class="row">
          <div class="col-12 px-3">
            <h4 class="mt-0 text-center">{{date}}</h4>
          </div>
        </div>
        <div class="row justify-content-center row-cols-1 row-cols-mdp-2 row-cols-lg-3 pb-5">
      {% endif %}
      <div class="col mt-5">
        <div class="card h-100 border-primary">
          <div class="card-body">
            <h5 class="mt-0">{{event.getHeading()}}</h5>
            <small>
              {{event.getDetails()|raw}}
            </small>
          </div>
          <div class="card-footer bg-secondary border-top border-primary text-right text-white">
            <small>{{event.getDate('jS F')}}</small>
            <i class="far fa-calendar-alt fa-lg pl-1"></i>
          </div>
        </div>
      </div>
      {% set previous = date %}
    {% endfor %}
    </div>
  </div>
</section>
