<section id="footer" class="bg-light py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="nav flex-column">
          {% for item in menu %}
            <li class="nav-item{% if item.active %} active{% endif %}">
              <a class="nav-link" href="{{ item.url }}">{{ item.title }}{% if item.active %} <span class="sr-only">(active trail)</span>{% endif %}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% if reload %}
  <script>
    (function () {
      const source = new EventSource('/dev/hot-reload');
      source.addEventListener('reload', function(event) {
          console.log(event.data);
          source.close();
          window.location.reload();
      }, false);
    })();
  </script>
{% endif %}
